* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: red;
    width: 100%;
    height: 4em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: violet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.add-new-project-button {
    width: 64px;
    height: 64px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 1em;
    border-radius: 50%;
    color: white;
    font-size: 45px;
    background-color: purple;
    border: 1px solid purple;
    cursor: pointer;
}

dialog {
    width: 800px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

dialog::backdrop {
     backdrop-filter: blur(10px);
}

.add-new-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.add-new-project-heading {
    text-align: center;
    justify-self: center;
    color: white;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-left: 300px;
}

.add-new-project-form>input {
    width: 400px;
}


.add-new-project-header {
    display: flex;
    justify-content: space-between;
    background-color: violet;
}

.close-button{
    margin-right: 20px;
}



.add-new-todo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}